<nav #mainNav class="navbar navbar-expand-lg bg-fade fixed-top">
  <a class="navbar-brand" href="#">TCA_GLOBAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- belkow id="navbarsExampleDefault -->
  <div class="collapse navbar-collapse" id="navbarMain"> 
    <ul class="navbar-nav mr-auto">
      <li [ngClass]="isActive('/')">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li [ngClass]="isActive('/aviation')">
        <a class="nav-link" routerLink="/aviation">Aviation</a>
      </li>
      <li [ngClass]="isActive('/enterpise')">
        <a class="nav-link" routerLink="/enterprise">Enterpise</a>
      </li>
      <li [ngClass]="isActive('/contact')">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-default" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>


